{% extends 'main/layoute.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="text-center">
   <h1>О наших услугах</h1>
<p>
    Мы предоставляем широкий спектр услуг, начиная от консультаций и заканчивая разработкой индивидуальных решений.
</p>
<p>
    В основе нашей работы лежит понимание потребностей каждого клиента и создание ценности для их бизнеса.
</p>
<p>
    Мы всегда стремимся превосходить ожидания и предлагаем только проверенные решения.
</p>
<p>
    Наши услуги включают:
</p>
<ul>
    <li>Консультации по цифровым технологиям</li>
    <li>Разработка программного обеспечения</li>
    <li>Обучение и поддержка пользователей</li>
    <li>Аналитика и оптимизация процессов</li>
</ul>
<p>
    Мы гарантируем профессионализм, надежность и высокое качество в каждом проекте.
</p>

</div>
{% endblock %}
