{% extends 'main/layoute.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="text-center">
    <h1>Наша команда</h1>
<p>
    За каждым успешным проектом стоит команда профессионалов, и мы гордимся нашими специалистами.
</p>
<p>
    В нашей компании работают люди с разными талантами и опытом, объединенные общей целью — помогать клиентам достигать успеха.
</p>
<p>
    Каждый член команды вносит свой вклад в развитие и достижение поставленных задач.
</p>
<p>
    Мы уверены, что вместе мы сможем преодолеть любые вызовы и достичь высоких результатов.
</p>
<p>
    Благодарим наших сотрудников за их усердие, инициативность и творчество.
</p>
<p>
    Если вы хотите стать частью нашей команды, мы будем рады рассмотреть вашу кандидатуру.
</p>

</div>
{% endblock %}
